.home__images{
    display: flex;
    justify-content: center;
    background-color: #F57C00;
    margin: 20px;
    
}
.home__img{
    margin: 10px;
    padding: 10px;
    height: 600px;
    width: 800px;
    border-radius: 20px;
}
.home__img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.home__pizzaImg{
    margin: 10px;
    padding: 10px;
    height: 550px;
    width:  520px;
    border-radius: 20px;
}
.home__pizzaImg:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.home__title{
    text-align: center;
}
