.card{
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 278px;
  height: 350px;
   
  margin: 10px;
 
  }
  .card__name{
    font-weight: bold;
    
  }

  .card__price{
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
    
  }

  
  .card__contents{
    font-style: italic;
  }

  

  


  