nav {
  
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-style: oblique;
    
  }
  nav a{
    text-decoration: none; 
    
  }
  nav a:hover{
    cursor: pointer;
  }
  nav a:visited,
  nav a:active{
    color: black;
    
  }
  nav a.-active{
    background-color: #F57C00;
    color: white;
    padding: 10px;
    border-radius: 4px;
  }
  .navbar{
    background-color: #F57C00;
    
  }