.header{
   display: flex;
   justify-content:space-between;
   flex-direction:row;
   
  
   padding:3px;
   margin:20px;
   background-color:white;
   font-family:Georgia;
}
.header__title{
   align-self:center;

    font-style:italic;
    font-size:20px;
    color:#F57C00;
 
}
.basket{
  color: #F57C00;
  font-size: 50px;
  align-self: center;
  cursor: pointer;
}

