.header{
   display: flex;
   justify-content:space-between;
   flex-direction:row;
   
   border: 1px solid #e7e7e7;
   padding:3px;
   margin:2px;
   background-color:white;
   font-family:Georgia;
}


.title{
 font-style:italic;
 font-size:20px;
 color:#F57C00;
 
}




.basket{
  color: #F57C00;
  font-size: 50px;
}